<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/admin-createProducts.css">

<body>

    <%- include('../partials/header') %>

    <main class="mainCreate">

        <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
        <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

        <div class="formularioCrearProductoShadow">

            <form id="formularioCrearProductoBox" action="/" method="post">

                <label for="Datos" id="crearTitulo">Cree los productos:</label>


                <input type="text" id="nombreproducto" name="nombreproducto" placeholder="Nombre del producto" required>


                <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" required>


                <input type="text" id="categoria" name="categoria" placeholder="Categoría" required>


                <input type="text" id="colores" name="colores" placeholder="Colores" required>


                <input type="number" id="precio" name="precio" placeholder="Precio" required>


                <label for="imagenProducto" id="imagenProductoTitulo">Imagen:</label>
                <input type="file" id="imagenProducto" name="imagenProducto">
                

                <div class="botonesBox">

                    <input id="botonBorrarCreate" type="reset" value="Borrar">
                    <input id="botonEnviarCreate" type="submit" value="Enviar">

                </div>

            </form>

        </div>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>