<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/admin-editProducts.css">

    <body>

        <%- include('../partials/header') %>

            <main class="mainEdit">

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div class="formularioEditarProductoShadow">

                    <form id="formularioEditarProductoBox" action="/edit" method="post" enctype="multipart/form-data">

                        <label for="Datos" id="editarTitulo">Edite los productos:</label>


                        <input type="text" id="name" name="name" placeholder="Name" required>

                        <input type="text" id="año" name="año" placeholder="Año" required>

                        <input type="text" id="autor" name="autor" placeholder="Autor" required>

                        <input type="text" id="description" name="description" placeholder="Descripción" required>

                        <input type="number" id="cantidad_de_paginas" name="cantidad_de_paginas"
                            placeholder="Cantidad De Páginas" required>

                        <input type="text" id="genero" name="genero" placeholder="Genero" required>

                        <input type="number" id="price" name="price" placeholder="Precio" required>

                        <input type="text" id="editorial" name="editorial" placeholder="Editorial" required>

                        <input type="number" id="ISBN" name="ISBN" placeholder="ISBN" required>


                        <label for="imagenProducto" id="imagenProductoTitulo">Imagen:</label>
                        <input type="file" id="imagenProducto" name="imagenProducto" multiple>

                        <div class="botonesBox">

                            <input id="botonBorrarEdit" type="reset" value="Borrar">
                            <input id="botonEnviarEdit" type="submit" value="Enviar">

                        </div>

                    </form>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>