<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <link rel="stylesheet" href="detalles.css">

    <main>

        <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
        <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>
        
        <h2>Cien años de soledad</h2>

        <div class="main-container">

            <section class="only-images">

                <div class="big-image">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-grande">
                </div>

                <div class="images-container">

                    <button><i class="fa-solid fa-chevron-left"></i></button>
                    <button><img src="images/cien años de soledad tapa frontal.png" alt="tapa-imagen-chica"
                            class="small-images"></button>
                    <button><img src="images/cien años de soledad diagonal.png" alt="diagonal-imagen-chica"
                            class="small-images"></button>
                    <button><img src="images/cien años de soledad hojas.png" alt="hojas-imagen-chica"
                            class="small-images"></button>
                    <button><img src="images/cien años de soledad tapa frontal dorso posterior.png"
                            alt="posterior-imagen-chica" class="small-images"></button>
                    <button><i class="fa-solid fa-chevron-right"></i></button>
                    
                </div>

            </section>

            <div class="main-info-container">

                <section class="main-info">

                    <article class="main-first">

                        <div class="main-info-details"><p>Autor: </p><p>Gabriel García Márquez</p></div>
                        <div class="main-info-details"><p>Editorial: </p><p>Alfaguara</p></div>
                        <div class="main-info-details"><p>Idioma: </p><p>Español</p></div>
                        <div class="main-info-details"><p>Año: </p><p>2008</p></div>
                        <div class="main-info-details"><p>Colección: </p><p>R.a.e.</p></div>

                        <br>

                        <div class="main-info-details"><p>Dimensiones: </p><p>20.5 x 13.5 cm</p></div>
                        <div class="main-info-details"><p>Género: </p><p>Narración</p></div>
                        <div class="main-info-details"><p>Subgéneros: </p><p>Novela</p></div>
                        <div class="main-info-details"><p>Páginas: </p><p>752</p></div>
                        <div class="main-info-details"><p>Peso: </p><p>2kg</p></div>

                    </article>

                    <article class="main-second">
                        <div class="main-info-details"><h3>Valoración: </h3><h3>*****</h3></div>
                        <div class="main-info-details"><h3>Stock: </h3><h3>x/x</h3></div>
                        <div class="main-info-details"><h3>Precio: </h3><h3>$xxxx</h3></div>
                    </article>

                </section>

                <button class="main-buyit">
                    <h2>Agregar al Carrito</h2>
                </button>

            </div>

        </div>

        <section class="main-review">

            <h3>Reseña:</h3>

            <p>Relata la historia de una aldea imaginaria, Macondo. La novela se encuentra dividida en veinte secuencias
                narrativas que carecen de título e incluso de enumeración. Cien años de soledad cuenta una serie de
                sucesos insólitos, insospechas, que ni el narrador ni los personajes se asombran de ello. En este libro
                cabe aclarar que los nombres de los personajes se repiten de generación en generación, es por este
                motivo que se vuelve confuso, ya que prácticamente son idénticos.</p>

        </section>

    </main>

    <aside>

        <h2>Productos Relacionados</h2>

        <div class="aside-container">

            <button><i class="fa-solid fa-chevron-left"></i></button>

            <div class="aside-element">
                <a href="#">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica">
                </a>
                <p>Título</p>
                <p>Precio</p>
            </div>

            <div class="aside-element">
                <a href="#">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica">
                </a>
                <p>Título</p>
                <p>Precio</p>
            </div>

            <div class="aside-element">
                <a href="#">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica">
                </a>
                <p>Título</p>
                <p>Precio</p>
            </div>

            <div class="aside-element-tablet">
                <a href="#">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica">
                </a>
                <p>Título</p>
                <p>Precio</p>
            </div>

            <div class="aside-element-pc">
                <a href="#">
                    <img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica">
                </a>
                <p>Título</p>
                <p>Precio</p>
            </div>

            <button><i class="fa-solid fa-chevron-right"></i></button>

    </aside>

    </div>

    <%- include('../partials/footer') %>

</body>

</html>
<!-- 
★ Archivo retro.md con el resultado de la retrospectiva.
★ Archivo daily.md con sus opiniones sobre las daylies/weeklies. (Opcional)
★ Tablero de trabajo actualizado.
★ Aplicación Node.js+Express+EJS con:
○ Archivos parciales (head, header, footer, etc.)
○ Home
○ Listado de productos
○ Detalle del producto
○ Carrito de productos
○ Formulario de registro y login
○ Formulario de carga y edición de productos -->