<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/product.css">

    <body>

        <%- include('./partials/header') %>
            <main>
                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>
                <div id="imagen-fondo">
                    <h1>Galeria de libros</h1>
                    <%- include('./partials/product') %>
                </div>
            </main>

    </body>

</html>