<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="css/botones.css">
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>

    <title>Carrito</title>

</head>

<body>

    <header>
        <a href="/">
            <div id="logo-principal">
                <img src="/images/Logo3.png" alt="imagenBiblioteca">
            </div>
        </a>
        <div id="area-lateral-logo">
            <div id="area-busqueda">
                <p>CODIGO KAKUY</p>
                <div id="select-div">
                    <select name="" id="select1"></select>
                    <div>
                        <input id="boton-busqueda-header" type="button" value="">
                        <i id="lupaBusqueda" class="fa-solid fa-magnifying-glass"></i>
                        <input id="entrada-busqueda-header" type="text">
                    </div>
                </div>
                <div id="select-select">
                    <select name="" id="select2"></select>
                    <select name="" id="select3"></select>
                </div>
            </div>
            <div id="darkmode">
                <i class="fa-solid fa-lightbulb"></i>
            </div>
            <div id="carrusell">
                <ul>
                    <li id="flechaIzq"><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                    <li><a href="">M<br>A<br>S<br><br>B<br>U<br>S<br>C<br>A<br>D<br>O<br>S</a></li>
                    <li><a href="">M<br>A<br>S<br><br>V<br>E<br>N<br>D<br>I<br>D<br>O<br>S</a></li>
                    <li><a href="">A<br>U<br>D<br>I<br>O<br>L<br>I<br>B<br>R<br>O<br>S</a></li>
                    <li><a href="">M<br>A<br>N<br>G<br>A</a></li>
                    <li id="flechaDer"><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
                </ul>
            </div>
            <div id="login-carrito">
                <ul>
                    <li id="estonodebeverse"><a href="/detalles">Detalles</a></li>
                    <li><a href="/login">Login</a></li>
                    <br>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>

    </header>

    <main>

        <body>

            <section class="barras-busqueda">

                <div class="busqueda-top">
                    <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input class="barra-busqueda" type="text" placeholder="Buscar Libros">
                </div>

                <div class="busqueda-bottom">

                    <div>
                        <input id="busqueda-genero-texto" type="text" placeholder="Genero">
                    </div>

                    <div>
                        <input id="busqueda-autor-texto" type="text" placeholder="Autor">
                    </div>

                    <div>
                        <input id="busqueda-anio-texto" type="text" placeholder="Año">
                    </div>

                    <div>
                        <input id="busqueda-calificacion-texto" type="text" placeholder="Calificacion">
                    </div>

                </div>


            </section>

            <section class="contenedor-box">

                <section class="contenedor-productos">

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                    <article class="producto-libro">

                        <div class="box-izquierda">
                            <img src="" alt="">
                        </div>

                        <div class="box-derecha">
                            <p class="precio">Precio</p>
                            <p class="stock">Si hay stock</p>
                            <p class="descripcion">Descripcion</p>
                        </div>

                    </article>

                </section>

                <section class="descripcion-box">

                    <div class="texto-box">

                        <p class="descripcion-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, in illo
                            laboriosam
                            hic
                            tempore
                            animi ad perferendis officia dolor non beatae consectetur dolorem illum, ratione deleniti,
                            soluta
                            exercitationem
                            nam laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae
                            dolor
                            doloribus
                            sint a vero neque, at quo velit doloremque minus ut ipsa. Explicabo exercitationem dolorem,
                            doloribus
                            provident
                            <i class="fa-solid fa-bookmark" style="color: #f40b0b;"></i>
                        </p>

                    </div>

                    <div class="precio-libro">
                        <input class="costo-texto" type="text" placeholder="Precio">
                    </div>

                </section>

            </section>

        </body>

    </main>

    <footer>

        <section>

            <h3>Contáctanos</h3>

            <ul class="footer-contact">

                <li>Teléfono: +54 9 385 5 123-4567</li>
                <li>Email: tiendakakuy@mail.com</li>
                <li>Dirección: Calle Falsa 123</li>

            </ul>

            <br>

            <h3>Nuestras Redes Sociales:</h3>

            <ul class="footer-social-networks">

                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>

            </ul>

        </section>

        <br>

        <section>

            <h3>Medios de pago</h3>

            <ul class="footer-payments">

                <li><i class="fa-brands fa-cc-visa"></i></li>
                <li><i class="fa-brands fa-cc-mastercard"></i></li>
                <li><i class="fa-brands fa-cc-paypal"></i></li>
                <li><i class="fa-brands fa-cc-stripe"></i></li>
                <li><i class="fa-brands fa-cc-jcb"></i></li>
                <li><i class="fa-brands fa-cc-discover"></i></li>
                <li><i class="fa-brands fa-cc-apple-pay"></i></li>
                <li><i class="fa-brands fa-cc-amazon-pay"></i></li>

            </ul>

        </section>


    </footer>

</html>