<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carrito.css">
    <title>Carrito de compras</title>
</head>

<body>
    <h1><a href="/">Ir al Home</a></h1>
    <header>
        <input class="barra" type="text" placeholder="Buscar libros"> <p> </p> <input class="barra" type="text" placeholder="Buscar libros">

        <p>

        </p>
        <label for="nombre"></label>
        <input type="text" placeholder="Buscar">


    </header>
    <p>

    </p>
    <div class="conteiner">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus, sunt fugit cupiditate consequuntur
            non similique debitis consectetur dolorum, quas quibusdam iure aspernatur nostrum, consequatur iusto ipsum
            saepe unde sit?</p>
    </div>


</body>

</html>