<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carrito.css">
    <title>Carrito de compras</title>
</head>

<body>
    <h1><a href="/">Ir al Home</a></h1>
    <h1>Carrito</h1>
    <header>
        <input class="barra" type="text" placeholder="Buscar libros">
        <p>

        </p>

        <input class="barra2" type="text" placeholder="Genero">
        <p>

        </p>

        <input class="barra3" type="text" placeholder="Autor">
        <p>

        </p>

        <input class="barra4" type="text" placeholder="Año">
        <p>

        </p>

        <input class="barra5" type="text" placeholder="Calificacion">
        <p>

        </p>

        <input class="Costo" type="text" placeholder="Precio">

    

    </header>

    <div class="conteiner">
        <p>
        <p class="portada"></p>
        </p>

        <p>
        <p class="portada1">+0-</p>
        </p>

        <p>
        <p class="portada2"></p>
        </p>

        <p>
        <p class="portada20">+0-</p>
        </p>

        <p>
        <p class="portada3"></p>
        </p>

        <p>
        <p class="portada30">+0-</p>
        </p>

        <p>
        <p class="portada4"></p>
        </p>
        <p>
        <p class="portada40">+0-</p>
        </p>
    </div>
    

    <p class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, in illo laboriosam hic tempore
        animi ad perferendis officia dolor non beatae consectetur dolorem illum, ratione deleniti, soluta exercitationem
        nam laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolor doloribus
        sint a vero neque, at quo velit doloremque minus ut ipsa. Explicabo exercitationem dolorem, doloribus provident
        at praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, voluptate! Accusantium aperiam,
        ab, deserunt veniam obcaecati reprehenderit sed et labore nulla architecto quaerat adipisci perferendis error
        rem vero eveniet corrupti? <i class="fa-solid fa-bookmark" style="color: #f40b0b;"></i></p>

        <i class="fa-solid fa-bookmark"></i>
</body>

</html>