<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detalles.css">
    <title>Detalles del Producto</title>
</head>

<body>
    <header>
        <a href="" class="menu">B</a>
        <h2><a href="/">Tienda de libros Kakuy</a></h2>
        <div class="searchBar">
            <input type="text" placeholder="Busque su libro">
            <button>L</button>
        </div>
    </header>

    <main>
        <h2>Cien años de soledad</h2>
        <section class="only-images">
            <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-grande"
                    class="big-image"></button>
            <div class="images-container">
                <button>=</button>
                <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                        class="small-images"></button>
                <button><img src="images/cien años de soledad diagonal.png" alt="imagen-chica"
                        class="small-images"></button>
                <button><img src="images/cien años de soledad hojas.png" alt="imagen-chica"
                        class="small-images"></button>
                <button><img src="images/cien años de soledad tapa frontal dorso posterior.png" alt="imagen-chica"
                        class="small-images"></button>
                <button>=</button>
            </div>
        </section>
        <section>
            <article>
                <p>Autor:</p>
                <p>Editorial</p>
                <p>Idioma:</p>
                <p>Año:</p>
                <p>Tapa del Libro:</p>
                <p>Tamaño de la letra</p>
                <p>Indice:</p>
            </article>
            <article>
                <p>Dimensiones:</p>
                <p>Género:</p>
                <p>Subgéneros:</p>
                <p>Páginas:</p>
            </article>
            <article>
                <h3>Valoración:</h3>
                <h3>Stock:</h3>
                <h3>Precio:</h3>
            </article>
            <button>
                <h2>Agregar al Carrito</h2>
            </button>
        </section>
        <section>
            <h3>Reseña:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eos voluptate, quis cum doloremque
                quae ea enim quaerat dolores sit quas iusto dicta! Necessitatibus cupiditate laudantium debitis
                possimus, quis iste.</p>
        </section>
    </main>

    <aside>
        <h2>Productos Relacionados</h2>
        <button>=</button>
        <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                class="small-images"></button>
        <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                class="small-images"></button>
        <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                class="small-images"></button>
        <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                class="small-images"></button>
        <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica"
                class="small-images"></button>
        <button>=</button>
    </aside>

    <footer>
        <section>
            <h3>Contáctanos</h3>
            <ul>
                <li>Teléfono</li>
                <li>Email</li>
                <li>Dirección</li>
                <li>Correo</li>
            </ul>
            <ul>Nuestras Redes Sociales:
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </section>
        <section>
            <h3>Medios de pago</h3>
            <ul>
                <li><a href="#">a</a></li>
                <li><a href="#">b</a></li>
                <li><a href="#">c</a></li>
                <li><a href="#">d</a></li>
                <li><a href="#">e</a></li>
                <li><a href="#">f</a></li>
                <li><a href="#">g</a></li>
                <li><a href="#">h</a></li>
            </ul>
        </section>
    </footer>
</body>

</html>