<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detalles.css">
    <title>Detalles del Producto</title>
</head>
<body>
    <h1><a href="/">Ir al Home</a></h1>
    <header>
        <a href="">Botón</a>
        <h1>Tienda de libros Kakuy</h1>
        <div class="searchBar">
            <input type="text" 
            placeholder="Busque su próximo libro">
            <button>Lupa</button>
        </div>
    </header>

    <main>
        <h2>Detalle del Producto</h2>
        <section>
            <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-grande" class="big-image"></button>
            <div class="images-container">
                <button>Izquierda</button>
                <button><img src="images/cien años de soledad tapa frontal.png" alt="imagen-chica" class="small-images"></button>
                <button><img src="images/cien años de soledad diagonal.png" alt="imagen-chica" class="small-images"></button>
                <button><img src="images/cien años de soledad hojas.png" alt="imagen-chica" class="small-images"></button>
                <button><img src="images/cien años de soledad tapa frontal dorso posterior.png" alt="imagen-chica" class="small-images"></button>
                <button>Derecha</button>
            </div>
        </section>
        <section></section>
        <section></section>
    </main>

    <aside></aside>

    <footer></footer>
</body>
</html>