<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Iconos ---------------->
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>
    <!---------------- Estilos ---------------->
    <link rel="stylesheet" href="css\header-footer-home.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>CODIGO KAKUY TIENDA DE LIBROS</title>
</head>

<body>
    <header>
        <div id="logo-principal">
            <img src="/images/Logo3.png" alt="imagenBiblioteca">
        </div>
        <div id="area-lateral-logo">
            <div id="area-busqueda">
                <p>CODIGO KAKUY</p>
                <div>
                    <select name="" id=""></select>
                    <div>
                        <input type="button" value="">
                        <input type="text">
                    </div>
                </div>
                <div>
                    <select name="" id=""></select>
                    <select name="" id=""></select>
                </div>
            </div>
            <div id="darkmode">
                <i class="fa-solid fa-lightbulb"></i>
            </div>
            <div id="carrusell">
                <ul>
                    <li><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                    <li><a href="">Mas Buscados</a></li>
                    <li><a href="">Mas Vendidos</a></li>
                    <li><a href="">Audiolibros</a></li>
                    <li><a href="">Manga</a></li>
                    <li><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
                </ul>
            </div>
            <div login-carrito>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/detalles">Detalles</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div id="imagen-fondo">
            <img src="/images/homeFondo.jpg" alt="imagenBiblioteca">
            <div id="cuadro-textual">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corporis numquam, at
                facere quidem dolores error commodi voluptate quasi porro aliquam reiciendis, nemo inventore culpa
                similique harum? Inventore, veritatis ipsam?</div>
        </div>
    </main>
    <footer>
        <section class="footer-contact-section">
            <div class="footer-contact-container">
                <h3>Contáctanos</h3>
                <ul class="footer-contact">
                    <li>Teléfono: +54 9 385 5 123-4567</li>
                    <li>Email: tiendakakuy@mail.com</li>
                    <li>Dirección: Calle Falsa 123</li>
                </ul>
            </div>

            <br>

            <div id="contenedor-social-networks">
                <h3>Nuestras Redes Sociales:</h3>
                <ul class="footer-social-networks">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                </ul>
            </div>
        </section>
        <br>
        <section class="footer-payments-container">
            <h3>Medios de pago</h3>
            <ul class="footer-payments">
                <li><i class="fa-brands fa-cc-visa"></i></li>
                <li><i class="fa-brands fa-cc-mastercard"></i></li>
                <li><i class="fa-brands fa-cc-paypal"></i></li>
                <li><i class="fa-brands fa-cc-stripe"></i></li>
                <li><i class="fa-brands fa-cc-jcb"></i></li>
                <li><i class="fa-brands fa-cc-discover"></i></li>
                <li><i class="fa-brands fa-cc-apple-pay"></i></li>
                <li><i class="fa-brands fa-cc-amazon-pay"></i></li>
            </ul>
        </section>
    </footer>
</body>

</html>