<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Iconos ---------------->
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>
    <!---------------- Estilos ---------------->
    <link rel="stylesheet" href="/css/home.css">
    <title>CODIGO KAKUY TIENDA DE LIBROS</title>
</head>

<body>
    <header>
        <div id="logo-principal">
            <img src="/images/Logo.jpeg" alt="imagenBiblioteca">
        </div>
        <div id="area-lateral-logo">
            <div id="area-busqueda">
                <p>CODIGO KAKUY</p>
                <select name="" id=""></select>
                <input type="button" value="">
                <input type="text">
                <select name="" id=""></select>
                <select name="" id=""></select>
            </div>
            <div id="darkmode">
                <i class="fa-solid fa-lightbulb"></i>
            </div>
            <div id="carrusell">
                <ul>
                    <li><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                    <li><a href="">Mas Buscados</a></li>
                    <li><a href="">Mas Vendidos</a></li>
                    <li><a href="">Audiolibros</a></li>
                    <li><a href="">Manga</a></li>
                    <li><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
                </ul>
            </div>
            <div login-carrito>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/detalles">Detalles</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div id="imagen-fondo">
            <img src="/images/homeFondo.jpg" alt="imagenBiblioteca">
            <div id="cuadro-textual">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corporis numquam, at facere quidem dolores error commodi voluptate quasi porro aliquam reiciendis, nemo inventore culpa similique harum? Inventore, veritatis ipsam?</div>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>