<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>

    <title>Login</title>

</head>


<body>

    <header>

        <div id="logo-principal">
            <img src="/images/Logo3.png" alt="imagenBiblioteca">
        </div>

        <div id="area-lateral-logo">

            <div id="area-busqueda">
                <p>CODIGO KAKUY</p>
                <select name="" id=""></select>
                <input type="button" value="">
                <input type="text">
                <select name="" id=""></select>
                <select name="" id=""></select>
            </div>

            <div id="darkmode">
                <i class="fa-solid fa-lightbulb"></i>
            </div>

            <div id="carrusell">
                <ul>
                    <li><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                    <li><a href="">Mas Buscados</a></li>
                    <li><a href="">Mas Vendidos</a></li>
                    <li><a href="">Audiolibros</a></li>
                    <li><a href="">Manga</a></li>
                    <li><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
                </ul>
            </div>

            <div login-carrito>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/detalles">Detalles</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>

        </div>

    </header>

    <div class="imagenLogin">

        <div id="imagen-fondo">
            <img src="/images/libro-login.jpg" alt="imagenLoginFondo">
        </div>

        <div class="formularioLoginShadow">

            <form id="formularioLoginBox" action="/" method="post">

                <label for="datosLogin" id="datosLoginTitulo">Datos de Usuario:</label>
                <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>

                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>

                <div class="recordarmeBox">

                    <label for="recordarme" id="recordarmeTitulo">Recordarme</label>
                    <input type="checkbox" id="recordarme" name="recordarme" value="Recordarme">

                </div>

                <ul class="politicaPrivacidadBox">

                    <input type="checkbox" id="politicaPrivacidadTitulo" name="politicaPrivacidad"
                        value="politicaPrivacidad" required>
                    <li><a href="#">Politica de Privacidad</a></li>

                </ul>

                <input id="botonEnviarLogin" type="submit" value="Enviar">

            </form>

            <ul class="linksLogin">

                <li><a href="/register">Crear una cuenta</a></li>
                <li><a href="#">Perdiste tu contraseña?</a></li>
                <li><a href="/">Pagina Principal</a></li>

            </ul>

        </div>

    </div>

    <footer>

        <section>

            <h3>Contáctanos</h3>

            <ul class="footer-contact">

                <li>Teléfono: +54 9 385 5 123-4567</li>
                <li>Email: tiendakakuy@mail.com</li>
                <li>Dirección: Calle Falsa 123</li>

            </ul>

            <br>

            <h3>Nuestras Redes Sociales:</h3>

            <ul class="footer-social-networks">

                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>

            </ul>

        </section>

        <br>

        <section>

            <h3>Medios de pago</h3>

            <ul class="footer-payments">

                <li><i class="fa-brands fa-cc-visa"></i></li>
                <li><i class="fa-brands fa-cc-mastercard"></i></li>
                <li><i class="fa-brands fa-cc-paypal"></i></li>
                <li><i class="fa-brands fa-cc-stripe"></i></li>
                <li><i class="fa-brands fa-cc-jcb"></i></li>
                <li><i class="fa-brands fa-cc-discover"></i></li>
                <li><i class="fa-brands fa-cc-apple-pay"></i></li>
                <li><i class="fa-brands fa-cc-amazon-pay"></i></li>

            </ul>

        </section>

    </footer>

</body>


</html>