<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>

    <title>Registro</title>

</head>


<body>

    <header>

        <div id="logo-principal">
            <img src="/images/Logo3.png" alt="imagenBiblioteca">
        </div>

        <div id="area-lateral-logo">

            <div id="area-busqueda">
                <p>CODIGO KAKUY</p>
                <select name="" id=""></select>
                <input type="button" value="">
                <input type="text">
                <select name="" id=""></select>
                <select name="" id=""></select>
            </div>

            <div id="darkmode">
                <i class="fa-solid fa-lightbulb"></i>
            </div>

            <div id="carrusell">
                <ul>
                    <li><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                    <li><a href="">Mas Buscados</a></li>
                    <li><a href="">Mas Vendidos</a></li>
                    <li><a href="">Audiolibros</a></li>
                    <li><a href="">Manga</a></li>
                    <li><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
                </ul>
            </div>

            <div login-carrito>
                <ul>
                    <li><a href="/carrito"><i class="fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/detalles">Detalles</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>

        </div>

    </header>

    <div class="imagenRegistro">

        <div id="imagen-fondo">
            <img src="/images/libreria-register.jpg" alt="imagenRegistroFondo">
        </div>

        <div class="formularioRegistroShadow">

            <form id="formularioRegistroBox" action="/" method="post">

                <label for="Datos" id="datosTitulo">Ingrese sus datos:</label>


                <input type="text" id="nombreApellido" name="nombreApellido" placeholder="Nombre y Apellido" required>


                <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de Usuario" required>


                <input type="email" id="email" name="email" placeholder="Email" required>


                <label for="date" id="fechaNacimientoTitulo">Fecha de nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>


                <label for="domicilio" id="domicilioTitulo">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>


                <label for="foto" id="fotoUsuarioTitulo">Foto de usuario:</label>
                <input type="file" id="foto" name="foto">


                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>

                <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                    placeholder="Confirmar Contraseña" required>

                <div class="terminosServiciosBox">

                    <label for="terminosServicios" id="terminosServiciosTitulo">Acepto los terminos y Servicios</label>
                    <input type="checkbox" id="terminosServicios" name="terminosServicios" value="Terminos y Servicios"
                        required>

                </div>

                <div class="botonesBox">

                    <input id="botonBorrarRegister" type="reset" value="Borrar">
                    <input id="botonEnviarRegister" type="submit" value="Enviar">

                </div>

            </form>

            <ul class="linksRegistro">

                <li><a href="/login">Ya tengo una cuenta</a></li>
                <li><a href="/">Pagina Principal</a></li>

            </ul>

        </div>

    </div>

    <footer>

        <section>

            <h3>Contáctanos</h3>

            <ul class="footer-contact">

                <li>Teléfono: +54 9 385 5 123-4567</li>
                <li>Email: tiendakakuy@mail.com</li>
                <li>Dirección: Calle Falsa 123</li>

            </ul>

            <br>

            <h3>Nuestras Redes Sociales:</h3>

            <ul class="footer-social-networks">

                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>

            </ul>

        </section>

        <br>

        <section>

            <h3>Medios de pago</h3>

            <ul class="footer-payments">

                <li><i class="fa-brands fa-cc-visa"></i></li>
                <li><i class="fa-brands fa-cc-mastercard"></i></li>
                <li><i class="fa-brands fa-cc-paypal"></i></li>
                <li><i class="fa-brands fa-cc-stripe"></i></li>
                <li><i class="fa-brands fa-cc-jcb"></i></li>
                <li><i class="fa-brands fa-cc-discover"></i></li>
                <li><i class="fa-brands fa-cc-apple-pay"></i></li>
                <li><i class="fa-brands fa-cc-amazon-pay"></i></li>

            </ul>

        </section>

    </footer>

</body>

</html>