* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/***********************************************************HEADER***********************************************************/

header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/***********************************************************MAIN***********************************************************/

/***********************************************************ASIDE***********************************************************/

/***********************************************************FOOTER***********************************************************/

/***********************************************************MEDIA***********************************************************/