* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color1: rgb(165, 91, 64);
    --color2: rgb(255, 182, 53);
    --color3: rgb(196, 120, 62);
    --color4: rgb(122, 89, 72);
    --color5: rgb(142, 86, 73);
    --color6: rgb(179, 133, 109);
}

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    display: contents;
    cursor: pointer;
}

body {
    background-color: black;
}

/***********************************************************MAIN***********************************************************/


main {
    background-image: url(/images/detallesFondo3.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin: 10px;
    text-align: center;
}

main h2 {
    display: inline-block;
    color: var(--color2);
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.only-images {
    width: 80vw;
    margin: auto;
}

.big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.big-image img {
    width: 80%;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.main-info {
    background-color: rgba(179, 133, 109, 0.7);
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px 10px;
}

main article {
    padding: 15px;
    margin: 10px;
}

main article p {
    margin-bottom: 5px;
}

.small-images {
    width: 18%
}

.main-first {
    border: solid 3px black;
    font-size: 12px;
}

.main-second {
    border: solid 2px black;
}

.main-info-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-buyit h2 {
    background-color: var(--color2);
    background: linear-gradient(rgb(255, 182, 53), rgb(165, 91, 64));
    color: black;
    font-size: 16px;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);    
    transition-property: all;
    transition-duration: 0.9s;
}

.main-buyit h2:hover {
    scale: 1.5;
}

.main-review {
    background-color: rgba(179, 133, 109, 0.7);
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
}

.main-review p {
    text-align: justify;
    text-wrap: pretty;
}

/***********************************************************ASIDE***********************************************************/

aside {
    background-color: rgba(196, 120, 62, 0.7);
    margin: 10px;
    border-radius: 8px;
    padding-bottom: 5px;
    transition-property: all;
    transition-duration: 0.9s;
}

aside:hover {
    background-color: rgba(196, 120, 62, 1);
}

aside h2 {
    text-align: center;
    margin-bottom: 10px;
}

.aside-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    margin: 5px;
}

aside a {
    display: contents;
}

aside p {
    text-align: center;
}

.aside-element {
    display: flex;
    flex-direction: column;
    width: 25%;
    transition-property: all;
    transition-duration: 0.8s;
}

.aside-element:hover {
    scale: 1.1;
}

.aside-element-tablet,
.aside-element-pc {
    display: none;
}

/***********************************************************MEDIA***********************************************************/

@media (min-width: 395px) {

    .only-images,
    .main-info {
        width: 70vw;
        margin: auto;
    }

    .big-image img {
        width: 60%;
    }

    .main-first {
        font-size: 1em;
    }

    .main-buyit h2 {
        font-size: 18px;
    }

    .aside-element {
        width: 21%;
    }

    .aside-element-tablet {
        display: flex;
        flex-direction: column;
        width: 21%;
        transition-property: all;
        transition-duration: 0.8s;
    }

    .aside-element-tablet:hover {
        scale: 1.1;
    }
}

@media (min-width: 790px) {
    .main-container {
        display: flex;
        flex-direction: row;
    }

    .only-images {
        width: 50%;
        margin: auto;
    }

    .main-info-container {
        display: block;
        margin-top: 0px;
        width: 50%;
        height: 50%;
    }

    .main-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        border: none;
    }

    main h2 {
        font-size: 40px;
    }

    .main-first,
    .main-second {
        width: 90%;
    }

    .main-first {
        font-size: 1.5em;
    }

    .main-buyit h2 {
        font-size: 20px;
    }

    .aside-element,
    .aside-element-tablet {
        width: 18%;
    }

    .aside-element-pc {
        display: flex;
        flex-direction: column;
        width: 18%;
        transition-property: all;
        transition-duration: 0.8s;
    }

    .aside-element-pc:hover {
        scale: 1.1;
    }
}