@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --color1: rgb(165, 91, 64);
    --color2: rgb(255, 182, 53);
    --color3: rgb(196, 120, 62);
    --color4: rgb(122, 89, 72);
    --color5: rgb(142, 86, 73);
    --color6: rgb(179, 133, 109);
}

/***********************************************************HEADER***********************************************************/

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--color2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Mayor relleno */
    background-color: black;
}

#logo-principal img {
    max-width: 150px; /* Tamaño máximo del logo aumentado */
    border-radius: 50%;
}

/* {#titulo {
    font-size: 28px; /* Tamaño de fuente más grande */
   /* margin-bottom: 30px; /* Espacio mayor entre el título y la barra de búsqueda *//*{
} */

#area-busqueda {
    flex-grow: 1; /* Toma el espacio restante */
    text-align: center;
    margin-left: 40px; /* Mayor espacio entre el título y la barra de búsqueda */
}

#area-busqueda form {
    display: flex;
    justify-content: center;
}

#entrada-busqueda-header {
    width: 500px; /* Ancho mayor */
    background-color: black; /* Color de fondo negro */
    border: 1px solid var(--color2); /* Borde de color invertido */
    border-radius: 5px;
    padding: 12px; /* Mayor padding */
    color: var(--color2); /* Color de texto invertido */
    font-weight: bold;
}

#entrada-busqueda-header:focus {
    outline: none;
}

#boton-busqueda-header {
    background-color: var(--color2); /* Color de fondo invertido */
    border: 1px solid var(--color2); /* Borde de color invertido */
    border-radius: 5px;
    padding: 12px; /* Mayor padding */
    cursor: pointer;
    color: black; /* Color de texto invertido */
    font-weight: bold;
    margin-left: 10px; /* Espaciado adicional entre la barra de búsqueda y el botón */
}

#boton-busqueda-header i {
    color: black; /* Color de ícono invertido */
}

#libros {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 65%;
    display:flex;
    position:block;
}

#libros li {
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    color: rgb(67, 64, 47);
    border-radius: 5px;
}

#libros li:hover {
    background-color: #b8b4b4;
    cursor: pointer;
}

#darkmode,
#login-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Espaciado igual entre los elementos */
}

#darkmode i,
#login-carrito ul {
    margin: 0;
    padding: 0;
}

#login-carrito li {
    list-style: none;
    margin-bottom: 5px;
}

#darkmode i {
    font-size: 24px;
}

#login-carrito a {
    display: inline-block;
    background-color: black; /* Color de fondo invertido */
    color: var(--color2); /* Color de texto invertido */
    border: 1px solid var(--color2); /* Borde de color invertido */
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

#login-carrito a:hover {
    background-color: var(--color2); /* Color de fondo invertido al pasar el mouse */
    color: black; /* Color de texto invertido al pasar el mouse */
} 



/***********************************************************FOOTER***********************************************************/

ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--color2);
}

footer h3,
footer,
li,
footer i {
    color: var(--color2);
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social-networks li {
    display: contents;
    font-size: 36px;
}

.footer-payments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-payments li {
    width: 25%;
    font-size: 36px;
}

/***********************************************************MEDIA***********************************************************/

@media (min-width: 790px) {
    footer {
        flex-direction: row;
        padding: 15px;
        justify-content: space-evenly;
    }

    .footer-contact-section {
        display: flex;
    }

    .footer-contact-container {
        margin: 0px 15px
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
    }

    .footer-payments-container {
        width: 50%;
        padding: 0px 15px;
        margin-left: 15px;
    }

}

@media (min-width: 260px) and (max-width: 391px) {
    header {
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
        align-items: center;
        margin: 0 auto;
    }

    #area-busqueda {
        margin-top: 10px; /* Espacio entre el logo y la barra de búsqueda */
    }

    #entrada-busqueda-header {
        max-width: 250px; /* Ancho máximo reducido para adaptarse mejor a pantallas pequeñas */
    }

    #boton-busqueda-header {
        margin-top: 10px; /* Espacio entre el campo de búsqueda y el botón */
    }

    #darkmode,
    #login-carrito {
        margin-top: 20px; /* Espacio entre la barra de búsqueda y estos elementos */
    }
}

@media (min-width: 392px) {
    #entrada-busqueda-header {
        width: 90%; /* Ancho máximo ajustado en pantallas de tamaño medio */
    }
}

@media (min-width: 790px) {
    header {
        flex-direction: row; /* Cambio a fila en pantallas medianas */
    }

    #area-busqueda {
        margin: 0 20px; /* Espaciado entre el título y la barra de búsqueda en pantallas medianas */
    }
}

@media (min-width: 1024px) {
    #entrada-busqueda-header {
        width: 400px; /* Ancho mayor en pantallas grandes */
    }

    #boton-busqueda-header {
        margin-left: 20px; /* Espaciado adicional entre la barra de búsqueda y el botón en pantallas grandes */
    }
}