
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}

/***********************************************************HEADER***********************************************************/
body {
    font-family: Aladin;
}
header {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: var(--color2);
    width: 100%;
}
header a {
    display: flex;
    width: 30%;
}
#logo-principal{
    display: flex;
    width: 100%;
    align-items: center;
}
#logo-principal img {
    width: 100%;
    border-radius: 100%;
    background-size:contain;
    padding: 10px
}

#area-lateral-logo {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#area-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

#area-busqueda p {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 1em;
    }

#area-busqueda div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    }

#area-busqueda div select {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
        height: 3em;
        }

#area-busqueda div div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
        height: auto;
        }

#boton-busqueda-header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 22%;
            height: 3em;
            border-radius: 5px 0 0 5px;
            border-style: 1px;
            border-color: var(--color2);
            background-color: rgba(0, 0, 0, 0.774);
            color: var(--color2);
            border-right: 0;
            justify-content: center;
            }

#select-div div i {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    text-align: center;
    font-size:medium;
    z-index: 10;
    margin-top: 10px;
    margin-left: 0.5%;
}
#entrada-busqueda-header{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 80%;
                height: 3em;
                border-radius: 0 5px 5px 0;
                border-style: 1px;
                border-color: var(--color2);
                background-color: black;
                color: var(--color2);
                }

#select-div {
    width: 100%;
    margin: 5px 0 5px 0;
}
#select-select {
    width: 100%;
    margin: 5px 0 5px 0;
}
#select1 {
border-radius: 5px;
border-style: 1px;
border-color: var(--color2);
margin-right: 10px;
background-color: black;
color: var(--color2);
}

#select2 {
    border-radius: 5px;
    border-style: 1px;
    border-color: var(--color2);
    background-color: black;
    color: var(--color2);
}

#select3 {
    margin-left: 10px;
    border-radius: 5px;
    border-style: 1px;
    border-color: var(--color2);
    background-color: black;
    color: var(--color2);
}

#darkmode {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
#darkmode i {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    height: 100%;
}
#carrusell{
    width: 35%;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;

}

#carrusell li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 15px;
}

#carrusell li a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

#login-carrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
    height: 100%;
}

#area-lateral-logo ul {
    display:flex
}
#login-carrito ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    align-items: stretch;
    height: auto;
}

#login-carrito ul li {
    text-align: center;
}
#estonodebeverse {
    display: none;
}
#area-lateral-logo ul li{
    border-radius: 5px;
    border-style:groove ;
    list-style: none;
    border-color: var(--color2);;

}
#area-lateral-logo ul li a{
    text-decoration: none;
    color: var(--color2);
}


/***********************************************************FOOTER***********************************************************/

ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--color2);
}

footer h3, footer, li, footer i {
    color: var(--color2);
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social-networks li {
    display: contents;
    font-size: 36px;
}

.footer-payments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-payments li {
    width: 25%;
    font-size: 36px;
}

/***********************************************************MEDIA***********************************************************/

@media (min-width: 395px) {

    header h2 {
        font-size: 22px;
    }

    nav {
        font-size: 14px;
    }

}

@media (min-width: 790px) {

    header h2 {
        font-size: 24px;
    }

    nav {
        font-size: 16px;
    }

    footer {
        flex-direction: row;
        padding: 15px;
        justify-content: space-evenly;
    }

    .footer-contact-section {
        display: flex;
    }

    .footer-contact-container {
        margin: 0px 15px
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
    }

    .footer-payments-container {
        width: 50%;
        padding: 0px 15px;
        margin-left: 15px;
    }

}

@media (min-width: 1024px) {
#carrusell{
    display: flex;
}

header  {
    max-height: 30vh;
}

#logo-principal img {
    max-width: 16vw;
    max-height: 30vh;
}
}