* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* SACAR EL BACKGROUND COLOR BLACK SI SE QUIERE QUE EN EL HOME LOS BOTONES SEAN TRASLUCIDOS, PERO AL SACARLO CUANDO UNO VARIA LA MEDIDA DEL DISPOSITIVO SE VE ABAJO EN EL FOOTER BLANCO */
}

:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}

body main {
    width: 100%;
    /* max-width: 1600px; */
    margin: auto;
}
main {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: auto;
    min-height: 100vh;
    background-image: url(/images/libreria-register.webp);
    background-size: cover;
    
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}
/* #imagen-fondo {
    display: flex;
    background-color:black;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: 999;
    align-items: center;
    justify-content: center;
} */

/* #imagen-fondo img {
    display: flex;
    width: 100%;
    background-color: black;
    overflow: hidden;
} 

#cuadro-textual {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 70vw;
    max-height: 30vh;
    background-color: rgba(0, 0, 0, 0.708);
    align-content: center;
    justify-content: center;
    overflow: scroll;
    color: var(--color2);
}

#cuadro-textual::-webkit-scrollbar {
    display: none
} 

#footer-home {
    padding-top: 210px;
}

.productos-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 40px;
}

.productos-contenedor {
    height: 50vh;
    width: 50vw;
    border: 2px solid var(--color4);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.6);
}

/*********************************************************Carrusel*********************************************************/

.slider {
    /*width: 30vw;
    height: 50vh;*/
    width: 400px;
    background-color: rgba(0, 0, 0, 0.78);
    padding: 1em 2em 1em 2em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    overflow-x: hidden;
}

.books-container, 
.action-books-container, 
.scifi-books-container,
.drama-books-container,
.economy-books-container {
    width: 520%;
    padding: 1em;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    transform: matrix(1, 0, 0, 1, 0, 0);
    transition-property: all;
    transition-duration: 1s;

}

.book {
    width: calc(100% / 5);
    background-color: black;
    min-height: 10vh;
}

.buttons-container {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: center;
    align-items: center;
    color: black;
}

.left, 
.right, 
.left-action, 
.right-action, 
.left-scifi, 
.right-scifi,
.left-drama,
.right-drama,
.left-economy,
.right-economy {
    background-color: rgb(255, 182, 53, 0.76);
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    transition: rgb(255, 182, 53), 0.3s , transform 0.3s;
}

.left:hover, 
.right:hover, 
.left-action:hover, 
.right-action:hover, 
.left-scifi:hover, 
.right-scifi:hover,
.left-drama:hover,
.right-drama:hover,
.left-economy:hover,
.right-economy:hover {
    background-color: rgb(255, 182, 53);
    transform: scale(1.2);

}
/*********************************************************Media*********************************************************/
/*@media (min-width: 450px ) {
    #footer-home {
        padding-top: 131px;
    }
}

@media (min-width: 608px) {
    #footer-home {
        padding-top: 2px;
    }
}
*/