* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:black;
}

:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
#imagen-fondo {
    display: flex;
    background-color:black;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

#imagen-fondo img {
    display: flex;
    max-width: 100%;
    background-color: black;
}

#cuadro-textual {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 70vw;
    max-height: 30vh;
    background-color: rgba(0, 0, 0, 0.708);
    align-content: center;
    justify-content: center;
    overflow: scroll;
    color: var(--color2);;
}

#cuadro-textual::-webkit-scrollbar {
    display: none
} 