* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}

body {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
}

.formularioLoginShadow {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 0 20vw 0 20vw;
    margin-top: 20px;
}

#formularioLoginBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    margin-top: 10px;
    margin-bottom: 10px;
}


#datosLoginTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#usuario {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#contrasena {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.recordarmeBox {
    padding: 20px;
}

#recordarmeTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#botonEnviarLogin {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.politicaPrivacidadBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0;
}

#politicaPrivacidadTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

.politicaPrivacidadBox li {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

.linksLogin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color1);
    padding: 20px 0;
    color:blue;
    text-decoration: underline;
    margin: 0 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.linksLogin li {
    margin: 10px;
}
