* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}

body {
    font-family: Aladin;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.mainLogin {
    background-image:url("/images/libro-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.formularioLoginShadow {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -10px;
    margin: 0 20vw 0 20vw;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

#formularioLoginBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

#errors {
    background: tomato;
    color: azure;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15%;
    border: azure 3px solid;
}

#datosLoginTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
    color: var(--color2);
}

#email {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#contrasena {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.recordarmeBox {
    padding: 20px;
}

#recordarmeTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
    color: var(--color2);
}

#botonEnviarLogin {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.politicaPrivacidadBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0;
}

#politicaPrivacidadTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

.politicaPrivacidadBox li {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

.linksLogin {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 0;
    border-radius: 5px;
}

.linksLogin li {
    margin: 10px;
    font-size: 18px;
    font-weight: 900;
    opacity: 1;
}
