* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color1: rgb(165,91,64);
    --color2: rgb(255,182,53);
    --color3: rgb(196,120,62);
    --color4: rgb(122,89,72);
    --color5: rgb(142,86,73);
    --color6: rgb(179,133,109);
}

body {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
}

#formularioRegistroBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    padding-top: 20px;
}

#datosTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#nombreApellido {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#nombreUsuario {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#email {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#fechaNacimientoTitulo {
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}

#fechaNacimiento {
    margin: 10px;
    padding: 10px;
}

#domicilioTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#domicilio {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#fotoUsuarioTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#foto {
    margin: 10px;
    padding: 10px;
}

#contrasena {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#confirmarContrasena {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.terminosServiciosBox {
    margin: 2px;
    padding: 2px;
}

#terminosServiciosTitulo {
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

#terminosServicios {
    margin: 2px;
    padding: 2px;
}

.botonesBox {
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
}

#botonEnviarRegister {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#botonBorrarRegister {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.linksRegistro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color1);
    padding: 20px 0;
    color:blue;
    text-decoration: underline;
}

.linksRegistro li {
    margin: 10px;
}


/***********************************************************HEADER***********************************************************/

header {
    background-color: var(--color2);
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 25%;
    text-align: center;
}

header h2 {
    text-align: center;
    display: block;
    width: 50%;
    font-size: 16px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;
    background-color: white;
    margin-left: 0px;
    
}

.searchBar input {
    max-width: 80%; 
    border: none;
}

/***********************************************************FOOTER***********************************************************/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social-networks li {
    display: contents;
    font-size: 36px;
}

.footer-payments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-payments li {
    width: 25%;
    font-size: 36px;
}