<article class="producto-libro">

    <div class="box-izquierda">
        <img src="" alt="">
    </div>

    <div class="box-derecha">
        <p class="name">Nombre</p>
        <p class="autor">Autor</p>
        <p class="price">Precio</p>
    </div>

</article>